@use '../utils/placeholders';
@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.logo {
  @extend %main-title;

  display: flex;
  align-items: center;
  gap: 8px;
  padding: fn.get-padding('md') fn.get-padding('xl');
  color: fn.get-color('accent-primary');

  @include mx.mq('lg') {
    padding: fn.get-padding('lg') fn.get-padding('xl');
  }
}
